:root { 
    --default-space: 1.618rem;
    --primary-color: rgb(0 210 120) !important;
    --background-color: rgb(33, 33, 33) !important;
    --font-color: #eee !important
}

h1 {
    font-size: calc(0.9 * var(--default-space)) !important
}

h2 {
    font-size: calc(0.8 * var(--default-space)) !important
}

h3 {
    font-size: calc(0.7 * var(--default-space)) !important
}

p,
a,
div,
span,
article,
main {
    line-height: var(--default-space) !important;
}

.wrapper {
    padding: 0 var(--default-space);
    max-width: 700px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.terminal-prompt {
    white-space: unset !important
}

footer > ul {
    margin-top: 0;
}